html, body, .main {
  height: 100%;
}

.gradient-custom-1 {
  /* fallback for old browsers */
  background: #4158d0;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to top, #4158d0, #c850c0)
}

table td, table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

tbody td {
  font-weight: 500;
  color: #999999;
}
