body{
  background: linear-gradient(45deg, #4158d0, #c850c0)
}
/*.text-warning {
  --bs-text-opacity: 1;
  color: #c850c0 !important;
}

.navbar-brand {
  --bs-text-opacity: 1;
  color: #4158d0 !important;
}

.gradient-custom-1 {
  fallback for old browsers 
  background: #4158d0;
  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
  background: linear-gradient(to top, #4158d0, #c850c0)
}

table td, table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

tbody td {
  font-weight: 500;
  color: #999999;
}
